<section class="form-group">
  <label for="typeahead-http">Which country would you like to find?</label>
  <span *ngIf="searching"
    ><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i
  ></span>
  <input
    id="typeahead-http"
    type="text"
    class="form-control"
    [class.is-invalid]="searchFailed"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    placeholder="Insert name..."
    [inputFormatter]="formatter"
    [resultFormatter]="formatter"
    (selectItem)="selectedItem($event)"
  />
  <span class="invalid-feedback red" *ngIf="searchFailed">
    Whoops. Looks like there is no country like that.
  </span>
</section>
