<section class="text-center">
  <p *ngIf="lastExtent">
    Now you can see me at extent: {{ lastExtent[0] | number: '1.4-4' }}
    {{ lastExtent[1] | number: '1.4-4' }} (bottom-left)
    {{ lastExtent[2] | number: '1.4-4' }}
    {{ lastExtent[3] | number: '1.4-4' }} (upper-right).
  </p>
  <p *ngIf="lastPoint">
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Wow, you've just
    clicked here: {{ lastPoint[0] | number: '1.4-4' }}
    {{ lastPoint[1] | number: '1.4-4' }}.
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
  </p>
</section>
